thead{
    background-color:#343a40;
    color: white;
}

.tableSep{
    background-color: #e1e1e1;
    border-bottom:5px solid #343a40;
    margin-bottom: 15px; padding:10px;
}

.paginate_button .page-item .active{
    background-color: #e1e1e1 !important;
}