<!-- Extends from index.html (DRY)-->
{% extends "Files/index.html" %}

{% load static %}


<div class="container">

    {% block title %}
    <h1>{{webTitle}}</h1>
    {% endblock %}

    {% block content %}

          <h5>{{value1}}</h5>
          <h5>{{value2}}</h5>

        {% autoescape off %}

        {% for e in htmlReport %}
            {{e}}
            <br>
        {% endfor %}

        {% endautoescape %}
    {% endblock %}

</div> <!-- container -->


