<!-- Extends from index.html (DRY)-->
{% extends "Files/index.html" %}

{% load static %}


<div class="container">

    {% block title %}
    <h1>{{webTitle}}</h1>
    {% endblock %}

    {% block content %}

          <h5>{{value1}}</h5>
          <h5>{{value2}}</h5>

          <h5>{{error}}</h5>
          <h5>{{tb}}</h5>


    {% endblock %}

</div> <!-- container -->


