<!-- Extends from index.html (DRY)-->
{% extends "Files/index.html" %}

{% load static %}
    <div class="container">

      {% block title %}
        <h1>{{webTitle}}</h1>
      {% endblock %}

      {% block content %}

          <h5>{{file1}}</h5>
          <h5>{{file2}}</h5>

          {% autoescape off %}

            {% for e in htmlReport %}
                <div class="tableSep">

                    {{e}}

                </div>

            {% endfor %}

          {% endautoescape %}

      {% endblock %}

    </div> <!-- container -->
